/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.scribe
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/storage/*
/public/resources/storage/imagens/*.png
/public/resources/storage/imagens/*.jpeg
/public/resources/storage/imagens/*.jpg
/public/resources/storage/imagens/*.gif
/public/resources/storage/imagens/*.bmp
/public/resources/storage/imagens/*.webp
/public/resources/storage/imagens/*.pdf
/public/resources/storage/imagens/*.PRN
/public/resources/storage/imagens/*.txt
.htaccess
.vscode/settings.json
*.gif
*.pdf
*.zip
*.txt