@font-face {
    font-family: "Mont";
    src: url("Mont-Bold.ttf") format("truetype");
}

/* resets */

body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}